plugin: amazon.aws.aws_ec2

regions:
  - ap-southeast-3

filters:
  tag:kubernetes.io_cluster_name: client-k8s-cluster-prod
  instance-state-name: running

hostnames:
  - instance-id

#compose:
#  ansible_host: instance_id
#  ansible_connection: aws_ssm

compose:
  ansible_host: instance_id
  ansible_connection: "'amazon.aws.aws_ssm'"
  ansible_aws_ssm_region: "'ap-southeast-3'"
  ansible_aws_ssm_bucket_name: "'ansible-ssm-tmp-client-k8s-prod'"
  private_ip_address: private_ip_address
  private_dns_name: private_dns_name
  tags: tags

keyed_groups:
  - key: tags.Role
    prefix: role
